

.product-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    flex-wrap: wrap;
}
.product-details a{
    text-decoration: none;
    color: black;
}
.product-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.product-details {
    text-align: center;
    padding: 10px 0;
}

.product-details h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.product-details p {
    margin: 5px 0;
    color: #666;
}

.add-to-cart {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    background-color: #098346;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #065d2a;
}
